/* MULTI USED CSS CLASSES */

/* Elements */
a {
  cursor: pointer;
}

/* Colours */
.bg-primary {
  background-color: var(--cyan) !important;
}

.border--magenta {
  border: 2px solid;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: var(--darkgrey);
}

.border--grey {
  border-color: var(--darkgrey) !important;
  border-width: 1px;
}
/* Buttons */

.btn.btn-primary {
  background-color: var(--cyan);
  border: none;
  margin: 20px 0;
}
.btn.btn-primary:hover {
  background-color: #199e94;
}

.normalButton {
  display: block;
  padding: 6px;
  background-color: var(--darkgrey);
  color: white;
  border-radius: 1px;
  border: none;
  outline: none;
}

.normalChartButton {
  display: block;
  padding: 6px;
  margin-top: 10px;
  margin-left: 5px;
  background-color: var(--darkgrey);
  color: white;
  border-radius: 2px;
  border: none;
  outline: none;
}

.normalButton:hover {
  padding: 7px;
}

.normalChartButton:hover {
  text-decoration: underline;
  color: white;
}
.normalButton:focus {
  outline: none;
}

.fancyButton {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid var(--darkgrey);
  color: var(--white);
  background-color: var(--darkgrey);
  font-weight: bold;
}

.fancyButton:hover {
  background-color: var(--white);
  color: var(--darkgrey);
}

.saveButton {
  display: block;
  padding: 8px;
  font-size: 14pt;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
}

.saveButton--cyan {
  background-color: var(--cyan);
}

.saveButton--red {
  background-color: var(--red);
}

.saveButton:hover {
  text-decoration: none;
  color: white;
  background-color: #178e85;
}
/* Forms */

.form--width {
  width: 50%;
}

.form-control:focus {
  outline: 1px solid #fc4ea8;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 1px var(--magenta);
}

/* other Components */

.routerLink:hover {
  text-decoration: none;
}

.breadcrumb__link {
  color: black;
}

.breadcrumb__link:hover {
  color: var(--magenta);
  cursor: pointer;
}

.breadcrumb__img {
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 1000px) {
  .normalChartButton {
    margin-left: 4px;
  }
}
